configuration {
    font: "monospace 10";
    show-icons: false;
    drun-display-format: "{name}";
    modi: "run";
    display-run: "Run";
    location: 0;
    fullscreen: false;
}

* {
    background:  rgba(22, 22, 22, 0.8);  /* dark semi-transparent */
    border-color: #b48ead;              /* lavender-pink border */
    border: 2;
    padding: 5;
    margin: 0;
    text-color: #eaeaea;                /* light gray text */
}

window {
    transparency: "real";
    width: 30%;
}

mainbox {
    background-color: @background;
    border: 2px solid @border-color;
}

inputbar {
    background-color: @background;
    padding: 5px;
    border: 2px solid @border-color;
    text-color: @text-color;
}

prompt {
    text-color: @text-color;
}

entry {
    text-color: @text-color;
}

listview {
    lines: 10;
    fixed-height: true;
    background-color: @background;
    border: 0;
    spacing: 5;
}

element {
    padding: 5;
    background-color: transparent;
    text-color: @text-color;
}

element selected {
    background-color: rgba(180, 142, 173, 0.5); /* semi-transparent highlight */
    text-color: #ffffff;
}

