@import                          "shared/fonts.rasi"

@import "~/.cache/wal/colors-rofi-dark"

configuration {
    modi: "window,run,ssh";
    width: 50; /* Width as a percentage of the screen width */
    lines: 5;
    columns: 1;
    font: "sans 10";
}

window {
    anchor: center; /* Set anchor to center */
    location: center; /* Set location to center */
    width: 10%; /* Set width as a percentage */
    height: 20%; /* Adjust height as needed */
    children: [ mainbox ];
}

mainbox {
    orientation: vertical;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ prompt, entry ];
}

prompt {
    expand: false;
    str: "Search: "; /* Customize your prompt text here */
}

entry {
    expand: true;
    horizontal-align: 0.5;
}

listview {
    lines: 4;
    scrollbar: false;
    dynamic: false;
    spacing: 2px;
}

element {
    padding: 2px 10px;
    border: 2px solid; /* Border around each element in the list */
}

element selected {
    background-color: @selected-normal-background;
    border-color: @selected-normal-foreground;
}
