# ~/.config/starship.toml

# Don't insert blank lines
add_newline = false

# Short command timeout (for speed)
command_timeout = 50

# Main prompt layout
format = "$directory$git_branch$git_status$line_break$character"

# Symbols for prompt state
[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

# Show Git branch only
[git_branch]
style = "bold purple"

[git_status]
untracked=""

# Disable everything else for speed
[line_break]
disabled = false
[battery]
disabled = true
[time]
disabled = true
[aws]
disabled = true
[sudo]
disabled = true
